# the variables found here are not real and must be replaced
# copy this file to .env and replace the values with your own configuration

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin

CORBAN_MONGO_CONNECTIONSTRING=mongodb://admin:admin@localhost:27017/corban?authSource=admin
CORBAN_MONGO_DATABASENAME=corban

CORBAN_ADMIN_USERNAME=admin
CORBAN_ADMIN_PASSWORD=admin

SEQ_FIRSTRUN_ADMINPASSWORD=admin
